extends ./layout/index.pug

block slider 
    .slider 
        h1 Rio de Janeiro 
        em Aventura

block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec nisi nulla. Nunc sed lorem ex. Proin ultrices nulla at diam dictum, sed hendrerit nibh volutpat. Donec efficitur magna maximus elementum tempor

                p Nullam eget metus augue. Suspendisse quis elit sit amet ante aliquam fringilla sed a ante. Fusce tincidunt euismod ligula. Sed sit amet est nibh. Sed sit amet pulvinar nunc. Sed diam magna, sodales sed dictum non, consectetur non eros.

            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros", class="img-fluid")
        
        include ./layout/bloque-viajes.pug

    .descuento
        .container
            .row
                .col-md-6 
                    .contenido
                        h3 5% de Descuento
                        p.titulo Viaje a Canada 
                        p.fecha 20 de marzo de 2022 - 28 de marzo de 2022
                        p.precio $2,500 USD

    .container 
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque-testimoniales.pug
