extends ./layout/index.pug

block contenido
    main.container.mt-5
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec nisi nulla. Nunc sed lorem ex. 
                p Nullam eget metus augue. Suspendisse quis elit sit amet ante aliquam fringilla sed a ante. Fusce tincidunt euismod ligula. Sed sit amet est nibh. Sed sit amet pulvinar nunc. 
                p Nunc gravida mauris vel nulla rhoncus, id ultricies massa mattis. Praesent commodo nulla mattis sapien semper, nec aliquet purus sagittis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec ut tellus vitae neque eleifend lobortis id vitae nisl. Nam convallis fermentum ex id euismod. Duis vel mi scelerisque ipsum interdum commodo non vitae sapien. Quisque eu lectus in odio mattis blandit pulvinar et risus. Integer ultricies mi eget sollicitudin pulvinar. 

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Nullam eget metus augue. Suspendisse quis elit sit amet ante aliquam fringilla sed a ante. Fusce tincidunt euismod ligula. Sed sit amet est nibh. Sed sit amet pulvinar nunc. 
                
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos" class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos 
                    p Nullam eget metus augue. Suspendisse quis elit sit amet ante aliquam fringilla sed a ante. Fusce tincidunt euismod ligula. Sed sit amet est nibh. Sed sit amet pulvinar nunc. 
                
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios" class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Nullam eget metus augue. Suspendisse quis elit sit amet ante aliquam fringilla sed a ante. Fusce tincidunt euismod ligula. Sed sit amet est nibh. Sed sit amet pulvinar nunc. 